{% extends 'form.html' %} 
{% block content %}
<div style="margin: auto; width: 50vw">
	<h1 style="text-align: center">Add Purchase Info</h1>
	<form
		method="post"
		style="padding: 0% 35%; width: full; text-align: center"
	>
		{% csrf_token %}
		<label for="purchase_id" style="font-weight: bold; display: inline-block">
			Purchase ID:
		</label>
		<br />
		<input
			type="text"
			id="purchase_id"
			name="purchase_id"
			required
			class="formInput"
		/>
		<br />

		<label for="med_id" class="formLabel">Medicine ID:</label>
		<br />
		<input
			type="number"
			id="med_id"
			name="med_id"
			required
			class="formInput"
		/>
		<br />

		<label for="store_id" class="formLabel">Store ID:</label>
		<br />
		<input type="text" id="store_id" name="store_id" class="formInput" />
		<br />

		<label for="dealer_id" class="formLabel">Dealer ID:</label>
		<br />
		<input
			type="number"
			id="dealer_id"
			name="dealer_id"
			required
			class="formInput"
		/>
		<br />

		<label for="quantity_supplied" class="formLabel">
			Quantity Supplied:
		</label>
		<br />
		<input
			type="number"
			id="quantity_supplied"
			name="quantity_supplied"
			required
			class="formInput"
		/>
		<br />

		<input
			type="submit"
			value="Submit"
			style="
				margin-top: 6px;
				background-color: #4caf50;
				color: antiquewhite;
				border-radius: 5px;
			"
		/>
	</form>
</div>

{% endblock content %}
