{% extends 'show.html' %} 
{% block content %}
<h1 style="text-align: center">Profit Per Transaction</h1>
<table>
	<thead>
		<tr>
			<th>Medicine ID</th>
			<th>Medicine Name</th>
			<th>Composition</th>
			<th>MFG Date</th>
			<th>EXP Date</th>
			<th>Cost Per Tab</th>
			<th>MRP Per Tab</th>
			<th>Store ID</th>
			<th>Quantity</th>
			<th>Profit</th>
		</tr>
	</thead>
	<tbody>
		{% for transaction_profit in transaction_profits %}
		<tr>
			<td>{{ transaction_profit.med_id }}</td>
			<td>{{ transaction_profit.med_id__name }}</td>
			<td>{{ transaction_profit.med_id__composition }}</td>
			<td>{{ transaction_profit.med_id__mfg_date }}</td>
			<td>{{ transaction_profit.med_id__exp_date }}</td>
			<td>{{ transaction_profit.med_id__cost_per_tab }}</td>
			<td>{{ transaction_profit.med_id__mrp_per_tab }}</td>
			<td>{{ transaction_profit.store_id }}</td>
			<td>{{ transaction_profit.quantity }}</td>
			<td>{{ transaction_profit.profit }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}